<h3>投稿詳細</h3>

<table class="table table-bordered">

  <thead class="thead-dark">
    <tr>
      <th>ゲーム名</th>
      <th>カテゴリー</th>
      <th>投稿者</th>
      <th>評価</th>
      <th>レビュー内容</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= game.title %></td>
      <td><%= game.category %></td>
      <td><%= game.end_user.name %></td>
      <td><span id="star-rate<%= game.id %>"></span>
      <script>
      $('#star-rate<%= game.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        half      : false,
        readOnly: true,
        score: <%= game.star %>,
      });
    </script></td>
      <td><%= @game.introduction %></td>
    </tr>
  </tbody>

</table>
