<div class = "container">
  <div class = 'row'>
  <% @games.each do |game| %>
    <div class = 'col-4'>
      <div class="card mt-3">
        <h3 class="card-header"><%= game.title %></h3>
        <div class="card-body">
          <p class="card-text"><%= game.introduction %></p>
          <p><%= link_to game.category, search_game_path(keyword: game.category) %></p>
          <%= link_to 'レビューを見る', game_path(game), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%= search_form_for @q do |f| %>
  <%= f.label :title, "タイトル検索" %>
  <%= f.search_field :title_cont, placeholder: "タイトルを入力してね" %>

  <%= f.submit "検索" %>
<% end %>

<% @game.each do |result| %>
  <%= result.title %>
<% end %>
