<div class='container'>
  <div class='row'>
    <h2>ゲームレビュー</h2>
    <div class = 'col-12'>
      <h3>ゲーム名</h3>
    </div>
    <%= @game.title %>
      レビュー内容
      <%= @game.introduction %>
  </div>
  <% @game_comments.each do |comment| %>
    <div class="media my-5">
      <%= comment.end_user.name %>
      <div class="media-body">
        <h5 class="mt-0">コメント</h5>
        <%= comment.comment %>
        <%= link_to "削除", game_game_comment_path(@game, comment), method: :delete %>
      </div>
    </div>
  <% end %>
  <div>
    <%= form_with model: [@game, @game_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', class: "w-100" %> <br>
      <%= f.submit "コメントする" %>
    <% end %>
  </div>
</div>

