<div class='container'>
  <table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>ゲーム名</th>
      <th>カテゴリー</th>
      <th>投稿者</th>
      <th>レビュー内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @game.title %></td>
      <td><%= @game.category %></td>
      <td><%= @game.end_user.name %></td>
      <td><%= @game.introduction %></td>
    </tr>
  </tbody>
</table>
<h4 class = "col-2 border rounded-pill">コメント一覧</h4>
<% @game_comments.each do |comment| %>
  <p><%= comment.end_user.name %>さん</p>
  <p class = "border-bottom">コメント:<%= comment.comment %></p>
  <% if comment.end_user.id == current_end_user.id %>
    <p><%= link_to "コメントを削除する", game_game_comment_path(@game, comment), method: :delete, class: "btn btn-sm btn-danger" %></p>
  <% end %>
<% end %>
  <%= form_with model: [@game, @game_comment] do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <%= f.text_area :comment, rows: 5, placeholder: 'コメントを入力', class: 'form-control' %> <br>
    <%= f.submit "コメントする", class: 'btn btn-success' %>
  <% end %>
</div>