<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4 mt-5'>
      <h2>会員情報</h2>
      <table class='table'>
        <tr>
      	  <th>名前</th>
      	  <td><%= @end_user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @end_user.email %></td>
        </tr>
      </table>
      <h2 class="mt-3">
        <% if @end_user.is_valid == true %>
          <%= link_to 'アカウントを停止する', admin_end_user_status_path(@end_user.id), method: :patch, "data-confirm" => "本当に停止しますか？" , class: "btn btn-danger" %>
        <% else %>
          <%= link_to 'アカウントを再開させる', admin_end_user_status_path(@end_user.id), method: :patch, "data-confirm" => "本当に再開させますか？" , class: "btn btn-primary" %>
        <% end %>
      </h2>
    </div>
     <div class='col-md-7 mt-5 offset-md-1'>
      <h2>投稿一覧</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ゲーム名</th>
            <th>カテゴリー</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @games.each do |game| %>
          <tr>
            <td><%= link_to game.title, admin_game_path(game) %></td>
            <td><%= game.category %></td>
            <td><i class="fa-solid fa-heart heart"></i><%= game.favorites.count %></td>
            <td><i class="fa-regular fa-comment-dots"><%= game.game_comments.count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @games %>
    </div>
  </div>
</div>
